@model webHibiscus.Models.Resennium

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Reseña:</h1>
<h3>¿Desea eliminar esta reseña?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Usuario
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.Nombre)
            @Html.DisplayFor(model => model.IdClienteNavigation.Apellido1)
            @Html.DisplayFor(model => model.IdClienteNavigation.Apellido2)
        </dd>
        <dt class="col-sm-2">
            Contenido
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cotenido)
        </dd>
        <dt class="col-sm-2">
            Puntuación
        </dt>
        <dd class="col-sm-10">
            @{
                switch (Model.Puntuacion)
                {
                    case 1:
                        <div>
                            <span class="starFade starGlow" id="Rate1"></span>
                            <span class="starFade" id="Rate2"></span>
                            <span class="starFade" id="Rate3"></span>
                            <span class="starFade" id="Rate4"></span>
                            <span class="starFade" id="Rate5"></span>
                        </div>
                        break;
                    case 2:
                        <div>
                            <span class="starFade starGlow" id="Rate1"></span>
                            <span class="starFade starGlow" id="Rate2"></span>
                            <span class="starFade" id="Rate3"></span>
                            <span class="starFade" id="Rate4"></span>
                            <span class="starFade" id="Rate5"></span>
                        </div>
                        break;
                    case 3:
                        <div>
                            <span class="starFade starGlow" id="Rate1"></span>
                            <span class="starFade starGlow" id="Rate2"></span>
                            <span class="starFade starGlow" id="Rate3"></span>
                            <span class="starFade" id="Rate4"></span>
                            <span class="starFade" id="Rate5"></span>
                        </div>
                        break;
                    case 4:
                        <div>
                            <span class="starFade starGlow" id="Rate1"></span>
                            <span class="starFade starGlow" id="Rate2"></span>
                            <span class="starFade starGlow" id="Rate3"></span>
                            <span class="starFade starGlow" id="Rate4"></span>
                            <span class="starFade" id="Rate5"></span>
                        </div>
                        break;
                    case 5:
                        <div>
                            <span class="starFade starGlow" id="Rate1"></span>
                            <span class="starFade starGlow" id="Rate2"></span>
                            <span class="starFade starGlow" id="Rate3"></span>
                            <span class="starFade starGlow" id="Rate4"></span>
                            <span class="starFade starGlow" id="Rate5"></span>
                        </div>
                        break;
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdResenia" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
