@model IEnumerable<webHibiscus.Models.Resennium>

@{
    ViewData["Title"] = "Reseñas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menú de reseñas</h2>
<div class="" style="margin-bottom: 15px;">
    <a class="btn btn-outline-primary btn-small" asp-action="Create">Agregar Reseña</a>
</div>

@foreach (var item in Model)
{

    <div class="card container-fluid" style="background-color:white">

        <div class="container-fluid">
            <h5>
                <br />
                <b>@Html.DisplayFor(modelItem => item.IdClienteNavigation.Nombre)</b>
                <b>@Html.DisplayFor(modelItem => item.IdClienteNavigation.Apellido1)</b>
                <b>@Html.DisplayFor(modelItem => item.IdClienteNavigation.Apellido2)</b>
                -
                @Html.ValueFor(modelItem => item.Fecha, "{0:dd/MM/yyyy}")
            </h5>

            <form>
                <fieldset class="starability-basic">
                    @{
                        switch (item.Puntuacion)
                        {
                            case 1:
                                <div>
                                    <span class="starFade starGlow" id="Rate1"></span>
                                    <span class="starFade" id="Rate2"></span>
                                    <span class="starFade" id="Rate3"></span>
                                    <span class="starFade" id="Rate4"></span>
                                    <span class="starFade" id="Rate5"></span>
                                </div>
                                break;
                            case 2:
                                <div>
                                    <span class="starFade starGlow" id="Rate1"></span>
                                    <span class="starFade starGlow" id="Rate2"></span>
                                    <span class="starFade" id="Rate3"></span>
                                    <span class="starFade" id="Rate4"></span>
                                    <span class="starFade" id="Rate5"></span>
                                </div>
                                break;
                            case 3:
                                <div>
                                    <span class="starFade starGlow" id="Rate1"></span>
                                    <span class="starFade starGlow" id="Rate2"></span>
                                    <span class="starFade starGlow" id="Rate3"></span>
                                    <span class="starFade" id="Rate4"></span>
                                    <span class="starFade" id="Rate5"></span>
                                </div>
                                break;
                            case 4:
                                <div>
                                    <span class="starFade starGlow" id="Rate1"></span>
                                    <span class="starFade starGlow" id="Rate2"></span>
                                    <span class="starFade starGlow" id="Rate3"></span>
                                    <span class="starFade starGlow" id="Rate4"></span>
                                    <span class="starFade" id="Rate5"></span>
                                </div>
                                break;
                            case 5:
                                <div>
                                    <span class="starFade starGlow" id="Rate1"></span>
                                    <span class="starFade starGlow" id="Rate2"></span>
                                    <span class="starFade starGlow" id="Rate3"></span>
                                    <span class="starFade starGlow" id="Rate4"></span>
                                    <span class="starFade starGlow" id="Rate5"></span>
                                </div>
                                break;
                        }
                    }
                </fieldset>
            </form>

            <p class="container-fluid" style="color:black;font-size:large">@Html.DisplayFor(modelItem => item.Cotenido)</p>

            <div class="container-fluid">
                @if (ViewBag.UserId == item.IdClienteNavigation.IdUsuario)
                {
                    <a asp-action="Edit" class="btn btn-outline-warning btn-sm" asp-route-id="@item.IdResenia">Editar</a>
                    <a asp-action="Delete" class="btn btn-outline-danger btn-sm" asp-route-id="@item.IdResenia">Eliminar</a>
                }
            </div>

        </div>
    </div>
}
