@model webHibiscus.Models.Reserva

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Reseña:</h1>
<h3>¿Desea eliminar su reserva?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Fecha
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.Nombre)
            @Html.DisplayFor(model => model.IdClienteNavigation.Apellido1)
            @Html.DisplayFor(model => model.IdClienteNavigation.Apellido2)
        </dd class>
        <dt class = "col-sm-2">
            Servicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdServicioNavigation.Nombre)
        </dd class>
    </dl>
    
    <form asp-action="Delete">

        <input type="hidden" asp-for="IdReserva" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-success">Cancelar</a>
    </form>
</div>
