@model webHibiscus.Models.Reserva

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles de la reservación</h1>

<div>
    <h4>Reservación</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Fecha de cita")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Cliente")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.Apellido1)
            @Html.DisplayFor(model => model.IdClienteNavigation.Apellido2)
            @Html.DisplayFor(model => model.IdClienteNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Servicio a brindar")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdServicioNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdReserva">Editar</a> |
    <a asp-action="Index">Regresar a la Lista</a>
</div>
