@model IEnumerable<webHibiscus.Models.Reserva>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdServicioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdServicioNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReserva">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdReserva">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReserva">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
