@model IEnumerable<webHibiscus.Models.Reserva>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reservaciones</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Nueva reservación</a>
</p>
<div class="card">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Fecha de cita")
                </th>
                <th>
                    @Html.DisplayName("Cliente")
                </th>
                <th>
                    @Html.DisplayName("Servicio a brindar")
                </th>
                <th>
                    @Html.DisplayName("Acciones")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClienteNavigation.Apellido1)
                    @Html.DisplayFor(modelItem => item.IdClienteNavigation.Apellido2)
                    @Html.DisplayFor(modelItem => item.IdClienteNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdServicioNavigation.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdReserva" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.IdReserva" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
}
        </tbody>
    </table>
</div>